<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-4.2.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.epam.spring"/>

    <aop:aspectj-autoproxy/>


    <import resource="service.xml"/>
    <import resource="DAO.xml"/>
    <import resource="discount.xml"/>

    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:discount.properties</value>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode">
            <util:constant static-field= "org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        </property>
    </bean>

    <bean id="counterBean" class="com.epam.spring.aspect.CounterAspect">
        <constructor-arg ref="counterAspectDAO"/>
    </bean>

    <bean id="discountCounterBean" class="com.epam.spring.aspect.DiscountAspect">
        <constructor-arg ref="discountAspectDAO"/>
    </bean>

    <bean id="luckyWinner" class="com.epam.spring.aspect.LuckyWinnerAspect"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>


    <jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="classpath:Creating_of_tables.sql"/>
        <jdbc:script location="classpath:Filling_of_tabels.sql"/>
    </jdbc:initialize-database>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!--<aop:config>-->
        <!--<aop:aspect id="counterAspect" ref="counterBean">-->
            <!--<aop:after-returning method="com.epam.spring.aspect.CounterAspect.countEventByName"-->
                                 <!--pointcut="execution(com.epam.spring.service.EventService.getEventByName(..))" returning="retVal"/>-->
            <!--<aop:after-returning method="com.epam.spring.aspect.CounterAspect.countEventPrices"-->
                                 <!--pointcut="execution(* *.getBasePrice(..))" returning="retVal"/>-->
            <!--<aop:after-returning method="com.epam.spring.aspect.CounterAspect.countTicketsBooking"-->
                                 <!--pointcut="execution(* *.bookTicket(..))" returning="retVal"/>-->
        <!--</aop:aspect>-->
        <!--<aop:aspect id="discountAspect" ref="discountCounterBean">-->
            <!--<aop:after-returning method="com.epam.spring.aspect.DiscountAspect.countBirthdayDiscount"-->
                                 <!--pointcut="execution(* com.epam.spring.service.DiscountService.isBirthdayDiscount(..)) &amp;&amp; args(ds, user,..)"-->
                    <!--returning="retVal"/>-->
            <!--<aop:after-returning method="com.epam.spring.aspect.DiscountAspect.countTenthTicketDiscount"-->
                                 <!--pointcut="execution(* com.epam.spring.service.DiscountService.isTenthTicketDiscount(..)) &amp;&amp; args(ds, user)"-->
                                 <!--returning="retVal"/>-->
        <!--</aop:aspect>-->
        <!--<aop:aspect id="luckyAspect" ref="luckyWinner">-->
            <!--<aop:before method="com.epam.spring.aspect.LuckyWinnerAspect.checkLuckyUser"-->
                        <!--pointcut="execution(com.epam.spring.service.BookingService.getTicketPrice(..)) &amp;&amp; args(eventId, userId)"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

</beans>